<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="lib/hadmin/css/main.css" />

    <!-- Libraries -->
    <script data-main="lib/hadmin/init" src="config/settings.js"></script>
    <script data-main="lib/hadmin/init" src="lib/require/require.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 sidebar">
                <ul id="menu" class="nav nav-pills nav-stacked">
                </ul>
            </div>
            <div class="span10" id="content">

            </div>
        </div>
    </div>
    <!-- Template for menu item -->
    <script type="text/template" id="t_menu_link">
        <li><a href="#<%= link %>"><%= text %></a></li>
    </script>

    <!-- Template for model list -->
    <script type="text/template" id="t_list">
        <ul class="nav nav-pills">
            <li><a href="#<%= model %>/add">Добавить</a></li>
            <li><a href="#">Удалить выбранные</a></li>
        </ul>
        <table id="list" class="table table-bordered">
            <thead>
            <tr>
                <% for(var i in fields){ %>
                <th><%= fields[i]%></th>
                <% } %>
            </tr>
            </thead>
        </table>
    </script>
</body>
</html>