body {
    height: 100%;
    width: 100%;
    position: absolute;
}
#content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-fluid,
.row-fluid { height: inherit; }
.sidebar{
    height: inherit;
    padding-top: 20px;
    padding-right: 20px;
    border-right: 1px #ddd solid;
}